
body{
    margin: 0;
    padding: 0;
}
.main-container{
    padding: 0px;
    margin: 0px;
    padding: 35px;
    background: linear-gradient(90deg, #F2E28D 0%, #F0B1A2 100%);
    
}
.mainlogo{
    text-align: center;
    margin-top: -55px;
}
/* //navbar */
.navbar {
background-color: #fff;
overflow: hidden;
}

.navbar-brand {
float: left;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 24px;
}

.navbar-toggle {
display: none;
float: left;
color: black;
padding: 14px 16px;
font-size: 24px;
cursor: pointer;
}

.navbar-menu {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}

.navbar-menu li {
float: left;
padding: 10px 100px;
}

.navbar-menu li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}




@media screen and (max-width: 600px) {
.navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
}

.navbar-menu li {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-menu.active {
    display: flex;
    justify-content: space-between;
}
}
.footer {
background-color: rgba(41, 54, 106, 1);
color: black;
display: flex;
justify-content: space-around;
padding: 20px 0;
text-align: center;
}

.footer-column {
flex: 1;
margin: 10px;
}

.footer-column h3 {
font-size: 35px;
padding-bottom: 10px;
margin-bottom: 15px;
color: rgba(253, 237, 203, 1);
}

.footer-column ul {
list-style: none;
padding: 0;
}

.footer-column ul li {
margin: 10px 0;
}

.footer-column ul li a {
color: rgba(253, 237, 203, 1);
text-decoration: none;
}

.footer-column ul li a:hover {
text-decoration: underline;
}

.footer-logo img {
max-width: 100px;
padding-top: 80px;
}
.footer-p{
color: rgba(253, 237, 203, 1);
}
@media screen and (max-width: 600px) {
.footer {
    flex-direction: column;
    align-items: center;
}

.footer-column {
    margin: 10px 0;
}

.footer-logo img {
    max-width: 80px;
}
}
.text-left{
text-align: left;
}
.px-2{
padding: 0px 20px;
}
.py-2{
padding: 20px 0px;
}
/* //home page */
.banner-main {
    background-image: url("./assets/img/webhomebanner.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.inner-content-of-banner {
    text-align: center;
    font-size: 55px;
    color: rgba(253, 237, 203, 1);
    padding-top: 90px;
    margin-top: 0px;
}

.theme-button-blue {
    background-color: rgba(41, 54, 106, 1);
    color: rgba(253, 237, 203, 1);
    border-radius: 20px;
    padding: 20px 50px;
    outline: none;
    border: none;
    font-size: 25px;
}

.scroll-text-bg {
    background-color: rgba(228, 109, 101, 1)
}

.scroll-text-p {
    padding: 25px 0px;
    margin: 0;
    color: rgba(253, 237, 203, 1);
    font-size: 100px;
    overflow-x: scroll;
}
.mobile-show{
display: none;
}
@media screen and (max-width:450px) {
    .banner-main {
        background-image: url("./assets/img/homebanner-mobile.png");
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .inner-content-of-banner {
        font-size: 35px;
    }
    .mobile-none{
        display: none;
    }
    .mobile-show{
        display: block;
    }
}

.card-process-main-header {
    color: rgba(41, 54, 106, 1);
    text-align: center;
    font-size: 96px;
}

.card-process {
    background-color: rgba(160, 211, 242, 1);
    padding: 10px 50px;
    margin: 0px 40px;
    border-radius: 20px;
    width: 15%;
}
@media screen and (max-width:1800px) {
    .card-process {
        margin: 0px 5px;
    }
}
@media screen and (min-width: 900px) and (max-width: 1650px) {
    .inner-content-of-banner {
        padding-left: 300px;
    }
}

.card-head {
    text-align: center;
}

.card-para {
    text-align: left;
}
.car-process-inline{
     width: 100%;
     display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.projects{
    background-image: url("./assets/img/webpreviousproject.png");
    background-size:cover ;
    height: 100vh;
}
/* //carousel */
.carousel {
position: relative;
max-width: 100%;
margin: auto;
overflow: hidden;
}

.carousel-inner {
display: flex;
width: 400%;
transition: transform 0.5s ease;
}

.carousel-item {
flex: 1;
width: 100%;
display: none;


}
.carousel-item > img{

width: 400px;
height: 400px;
margin: 10px;


}

.carousel-item.active {
display: block;
}



.carousel-control {
position: absolute;
top: 50%;
width: auto;
padding: 5px;
color:rgba(170, 222, 181, 1);
font-weight: bold;
font-size: 24px;
transition: 0.6s ease;
cursor: pointer;
user-select: none;
text-decoration: none;
z-index: 1;
}

.prev {
left: 0;
transform: translateY(-50%);
}

.next {
right: 0;
transform: translateY(-50%);
}

.carousel-control:hover {
background-color: rgba(0, 0, 0, 0.8);
}
.text-center{
text-align: center;
}
.heading-color{
color: rgba(41, 54, 106, 1)
}
/* //about us  */
.about-bg{
    background-image: url("./assets/img/about.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.Box {
background-color: aliceblue;
position: absolute;
top: 55%;
left: 50%;
width: 50%;
transform: translate(-50%, -50%);
height: 80vh;

}
.font-35{
font-size: 15px;
padding: 20px;

}
@media screen and (max-width:1250px){
.Box {
overflow-y: scroll;
height: 80vh;
} 
}
@media screen and (min-width:1250px){
.font-35{
font-size: 20px;
padding: 20px;

} 
.Box {
overflow-y: scroll;
height: 80vh;
} 
}
.scroll-text-bg-about{
background-color: rgba(90, 113, 94, 1);
}
/* service */
.bg-service{
    background-image: url("./assets/img/services.png");
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
   

}

.font-25{
    font-size: 25px;
}
.pb-2{
    padding-bottom: 20px;
}
.bg-service-color{
    background-color: antiquewhite;
}
.h-fix{
    height: 230px;
}
.card-2-bg{
    background-color: rgba(242, 189, 141, 1);
}
.card-3-bg{
    background-color: rgba(170, 222, 181, 1);
}
.card-4-bg{
    background-color:rgba(240, 177, 162, 1);
}
@media screen and (max-width:1500px) and (min-width:100px){
    .h-fix{
    height: 300px;
} 
}
.font-15{
    font-size: 15px !important;
}
@media screen and (max-width:450px) {
    .ml-3{
    margin-left: 25px;
}
}
.pageheading{
    color:rgba(41, 54, 106, 1) ;
    font-size: 64px;
    text-align: center;
    padding-top: 80px;
}
.my-25{
    padding: 50px 0px;
    margin-top: 50px;
}